@charset "UTF-8";
/*!
 *    nisaba Grid System 1.5.1
 *
 *    Creator: Ivan Ionut
 *    Site: http://www.nisaba.it
 *    Date: 28.08.2015
 */
/*
	Configurazioni
*/
/*

	Codice Base

*/
[class^="fix-"] {
  float: left;
  width: 100%;
}
.container {
  margin: 0 auto;
  width: 100%;
}
.container:after,
.container:before {
  display: table;
  clear: both;
  content: " ";
}
.row [class^="mb-"],
.row [class^="tb-"],
.row [class^="dt-"],
.row [class^="hd-"] {
  float: left;
  padding-right: 18px;
  padding-left: 18px;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row [class^="push-"],
.row [class^="pull-"] {
  position: relative;
}
.row {
  margin-right: -18px;
  margin-left: -18px;
  padding: 0 36px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row .row {
  padding: 0;
}
.offset-0 {
  margin-left: 0;
}
/*

	Mobile and up

*/
.mb-12 {
  width: 100%;
}
.mb-11 {
  width: 91.66666667%;
}
.mb-10 {
  width: 83.33333333%;
}
.mb-9 {
  width: 75%;
}
.mb-8 {
  width: 66.66666667%;
}
.mb-7 {
  width: 58.33333333%;
}
.mb-6 {
  width: 50%;
}
.mb-5 {
  width: 41.66666667%;
}
.mb-4 {
  width: 33.33333333%;
}
.mb-3 {
  width: 25%;
}
.mb-2 {
  width: 16.66666667%;
}
.mb-1 {
  width: 8.33333333%;
}
.offset-mb-12 {
  margin-left: 100%;
}
.offset-mb-11 {
  margin-left: 91.66666667%;
}
.offset-mb-10 {
  margin-left: 83.33333333%;
}
.offset-mb-9 {
  margin-left: 75%;
}
.offset-mb-8 {
  margin-left: 66.66666667%;
}
.offset-mb-7 {
  margin-left: 58.33333333%;
}
.offset-mb-6 {
  margin-left: 50%;
}
.offset-mb-5 {
  margin-left: 41.66666667%;
}
.offset-mb-4 {
  margin-left: 33.33333333%;
}
.offset-mb-3 {
  margin-left: 25%;
}
.offset-mb-2 {
  margin-left: 16.66666667%;
}
.offset-mb-1 {
  margin-left: 8.33333333%;
}
.offset-mb-0 {
  margin-left: 0%;
}
.pull-mb-12 {
  right: 100%;
}
.pull-mb-11 {
  right: 91.66666667%;
}
.pull-mb-10 {
  right: 83.33333333%;
}
.pull-mb-9 {
  right: 75%;
}
.pull-mb-8 {
  right: 66.66666667%;
}
.pull-mb-7 {
  right: 58.33333333%;
}
.pull-mb-6 {
  right: 50%;
}
.pull-mb-5 {
  right: 41.66666667%;
}
.pull-mb-4 {
  right: 33.33333333%;
}
.pull-mb-3 {
  right: 25%;
}
.pull-mb-2 {
  right: 16.66666667%;
}
.pull-mb-1 {
  right: 8.33333333%;
}
.pull-mb-0 {
  right: 0%;
}
.push-mb-12 {
  left: 100%;
}
.push-mb-11 {
  left: 91.66666667%;
}
.push-mb-10 {
  left: 83.33333333%;
}
.push-mb-9 {
  left: 75%;
}
.push-mb-8 {
  left: 66.66666667%;
}
.push-mb-7 {
  left: 58.33333333%;
}
.push-mb-6 {
  left: 50%;
}
.push-mb-5 {
  left: 41.66666667%;
}
.push-mb-4 {
  left: 33.33333333%;
}
.push-mb-3 {
  left: 25%;
}
.push-mb-2 {
  left: 16.66666667%;
}
.push-mb-1 {
  left: 8.33333333%;
}
.push-mb-0 {
  left: 0%;
}
/*

	Tablet and up

*/
@media (min-width: 768px) {
  .container {
    max-width: 696px;
  }
  .tb-12 {
    width: 100%;
  }
  .tb-11 {
    width: 91.66666667%;
  }
  .tb-10 {
    width: 83.33333333%;
  }
  .tb-9 {
    width: 75%;
  }
  .tb-8 {
    width: 66.66666667%;
  }
  .tb-7 {
    width: 58.33333333%;
  }
  .tb-6 {
    width: 50%;
  }
  .tb-5 {
    width: 41.66666667%;
  }
  .tb-4 {
    width: 33.33333333%;
  }
  .tb-3 {
    width: 25%;
  }
  .tb-2 {
    width: 16.66666667%;
  }
  .tb-1 {
    width: 8.33333333%;
  }
  .offset-tb-12 {
    margin-left: 100%;
  }
  .offset-tb-11 {
    margin-left: 91.66666667%;
  }
  .offset-tb-10 {
    margin-left: 83.33333333%;
  }
  .offset-tb-9 {
    margin-left: 75%;
  }
  .offset-tb-8 {
    margin-left: 66.66666667%;
  }
  .offset-tb-7 {
    margin-left: 58.33333333%;
  }
  .offset-tb-6 {
    margin-left: 50%;
  }
  .offset-tb-5 {
    margin-left: 41.66666667%;
  }
  .offset-tb-4 {
    margin-left: 33.33333333%;
  }
  .offset-tb-3 {
    margin-left: 25%;
  }
  .offset-tb-2 {
    margin-left: 16.66666667%;
  }
  .offset-tb-1 {
    margin-left: 8.33333333%;
  }
  .offset-tb-0 {
    margin-left: 0%;
  }
  .pull-tb-12 {
    right: 100%;
  }
  .pull-tb-11 {
    right: 91.66666667%;
  }
  .pull-tb-10 {
    right: 83.33333333%;
  }
  .pull-tb-9 {
    right: 75%;
  }
  .pull-tb-8 {
    right: 66.66666667%;
  }
  .pull-tb-7 {
    right: 58.33333333%;
  }
  .pull-tb-6 {
    right: 50%;
  }
  .pull-tb-5 {
    right: 41.66666667%;
  }
  .pull-tb-4 {
    right: 33.33333333%;
  }
  .pull-tb-3 {
    right: 25%;
  }
  .pull-tb-2 {
    right: 16.66666667%;
  }
  .pull-tb-1 {
    right: 8.33333333%;
  }
  .pull-tb-0 {
    right: 0%;
  }
  .push-tb-12 {
    left: 100%;
  }
  .push-tb-11 {
    left: 91.66666667%;
  }
  .push-tb-10 {
    left: 83.33333333%;
  }
  .push-tb-9 {
    left: 75%;
  }
  .push-tb-8 {
    left: 66.66666667%;
  }
  .push-tb-7 {
    left: 58.33333333%;
  }
  .push-tb-6 {
    left: 50%;
  }
  .push-tb-5 {
    left: 41.66666667%;
  }
  .push-tb-4 {
    left: 33.33333333%;
  }
  .push-tb-3 {
    left: 25%;
  }
  .push-tb-2 {
    left: 16.66666667%;
  }
  .push-tb-1 {
    left: 8.33333333%;
  }
  .push-tb-0 {
    left: 0%;
  }
}
/*

	Desktop and up

*/
@media (min-width: 992px) {
  .container {
    max-width: 920px;
  }
  .dt-12 {
    width: 100%;
  }
  .dt-11 {
    width: 91.66666667%;
  }
  .dt-10 {
    width: 83.33333333%;
  }
  .dt-9 {
    width: 75%;
  }
  .dt-8 {
    width: 66.66666667%;
  }
  .dt-7 {
    width: 58.33333333%;
  }
  .dt-6 {
    width: 50%;
  }
  .dt-5 {
    width: 41.66666667%;
  }
  .dt-4 {
    width: 33.33333333%;
  }
  .dt-3 {
    width: 25%;
  }
  .dt-2 {
    width: 16.66666667%;
  }
  .dt-1 {
    width: 8.33333333%;
  }
  .offset-dt-12 {
    margin-left: 100%;
  }
  .offset-dt-11 {
    margin-left: 91.66666667%;
  }
  .offset-dt-10 {
    margin-left: 83.33333333%;
  }
  .offset-dt-9 {
    margin-left: 75%;
  }
  .offset-dt-8 {
    margin-left: 66.66666667%;
  }
  .offset-dt-7 {
    margin-left: 58.33333333%;
  }
  .offset-dt-6 {
    margin-left: 50%;
  }
  .offset-dt-5 {
    margin-left: 41.66666667%;
  }
  .offset-dt-4 {
    margin-left: 33.33333333%;
  }
  .offset-dt-3 {
    margin-left: 25%;
  }
  .offset-dt-2 {
    margin-left: 16.66666667%;
  }
  .offset-dt-1 {
    margin-left: 8.33333333%;
  }
  .offset-dt-0 {
    margin-left: 0%;
  }
  .pull-dt-12 {
    right: 100%;
  }
  .pull-dt-11 {
    right: 91.66666667%;
  }
  .pull-dt-10 {
    right: 83.33333333%;
  }
  .pull-dt-9 {
    right: 75%;
  }
  .pull-dt-8 {
    right: 66.66666667%;
  }
  .pull-dt-7 {
    right: 58.33333333%;
  }
  .pull-dt-6 {
    right: 50%;
  }
  .pull-dt-5 {
    right: 41.66666667%;
  }
  .pull-dt-4 {
    right: 33.33333333%;
  }
  .pull-dt-3 {
    right: 25%;
  }
  .pull-dt-2 {
    right: 16.66666667%;
  }
  .pull-dt-1 {
    right: 8.33333333%;
  }
  .pull-dt-0 {
    right: 0%;
  }
  .push-dt-12 {
    left: 100%;
  }
  .push-dt-11 {
    left: 91.66666667%;
  }
  .push-dt-10 {
    left: 83.33333333%;
  }
  .push-dt-9 {
    left: 75%;
  }
  .push-dt-8 {
    left: 66.66666667%;
  }
  .push-dt-7 {
    left: 58.33333333%;
  }
  .push-dt-6 {
    left: 50%;
  }
  .push-dt-5 {
    left: 41.66666667%;
  }
  .push-dt-4 {
    left: 33.33333333%;
  }
  .push-dt-3 {
    left: 25%;
  }
  .push-dt-2 {
    left: 16.66666667%;
  }
  .push-dt-1 {
    left: 8.33333333%;
  }
  .push-dt-0 {
    left: 0%;
  }
}
/*

	Large desktop and up

*/
@media (min-width: 1200px) {
  .container {
    max-width: 1128px;
  }
  .hd-12 {
    width: 100%;
  }
  .hd-11 {
    width: 91.66666667%;
  }
  .hd-10 {
    width: 83.33333333%;
  }
  .hd-9 {
    width: 75%;
  }
  .hd-8 {
    width: 66.66666667%;
  }
  .hd-7 {
    width: 58.33333333%;
  }
  .hd-6 {
    width: 50%;
  }
  .hd-5 {
    width: 41.66666667%;
  }
  .hd-4 {
    width: 33.33333333%;
  }
  .hd-3 {
    width: 25%;
  }
  .hd-2 {
    width: 16.66666667%;
  }
  .hd-1 {
    width: 8.33333333%;
  }
  .offset-hd-12 {
    margin-left: 100%;
  }
  .offset-hd-11 {
    margin-left: 91.66666667%;
  }
  .offset-hd-10 {
    margin-left: 83.33333333%;
  }
  .offset-hd-9 {
    margin-left: 75%;
  }
  .offset-hd-8 {
    margin-left: 66.66666667%;
  }
  .offset-hd-7 {
    margin-left: 58.33333333%;
  }
  .offset-hd-6 {
    margin-left: 50%;
  }
  .offset-hd-5 {
    margin-left: 41.66666667%;
  }
  .offset-hd-4 {
    margin-left: 33.33333333%;
  }
  .offset-hd-3 {
    margin-left: 25%;
  }
  .offset-hd-2 {
    margin-left: 16.66666667%;
  }
  .offset-hd-1 {
    margin-left: 8.33333333%;
  }
  .offset-hd-0 {
    margin-left: 0%;
  }
  .pull-hd-12 {
    right: 100%;
  }
  .pull-hd-11 {
    right: 91.66666667%;
  }
  .pull-hd-10 {
    right: 83.33333333%;
  }
  .pull-hd-9 {
    right: 75%;
  }
  .pull-hd-8 {
    right: 66.66666667%;
  }
  .pull-hd-7 {
    right: 58.33333333%;
  }
  .pull-hd-6 {
    right: 50%;
  }
  .pull-hd-5 {
    right: 41.66666667%;
  }
  .pull-hd-4 {
    right: 33.33333333%;
  }
  .pull-hd-3 {
    right: 25%;
  }
  .pull-hd-2 {
    right: 16.66666667%;
  }
  .pull-hd-1 {
    right: 8.33333333%;
  }
  .pull-hd-0 {
    right: 0%;
  }
  .push-hd-12 {
    left: 100%;
  }
  .push-hd-11 {
    left: 91.66666667%;
  }
  .push-hd-10 {
    left: 83.33333333%;
  }
  .push-hd-9 {
    left: 75%;
  }
  .push-hd-8 {
    left: 66.66666667%;
  }
  .push-hd-7 {
    left: 58.33333333%;
  }
  .push-hd-6 {
    left: 50%;
  }
  .push-hd-5 {
    left: 41.66666667%;
  }
  .push-hd-4 {
    left: 33.33333333%;
  }
  .push-hd-3 {
    left: 25%;
  }
  .push-hd-2 {
    left: 16.66666667%;
  }
  .push-hd-1 {
    left: 8.33333333%;
  }
  .push-hd-0 {
    left: 0%;
  }
}
/*

	Fixed aspect ratio colonne

*/
.fix-hd,
.fix-landscape,
.fix-square,
.fix-portrait {
  position: relative;
}
.fix-hd:before,
.fix-landscape:before,
.fix-square:before,
.fix-portrait:before {
  content: "";
  display: block;
}
.fix-hd .col-content,
.fix-landscape .col-content,
.fix-square .col-content,
.fix-portrait .col-content {
  position: absolute;
  top: 0;
  right: 18px;
  bottom: 0;
  left: 18px;
  padding: 0;
}
.fix-hd:before {
  margin-top: 56.25%;
}
.fix-landscape:before {
  margin-top: 75%;
}
.fix-square:before {
  margin-top: 100%;
}
.fix-portrait:before {
  margin-top: 133.33333333%;
}
/*

	Other

*/
.center-block {
  margin: 0 auto;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.clear:after {
  content: "";
  display: table;
  clear: both;
}
