/*

	Generatore di padding, margin

*/
.margin-0 {
  margin: 0;
}
.padding-0 {
  padding: 0;
}
.mb-margin-0 {
  margin: 0;
}
.mb-margin-top-100 {
  margin-top: 100px;
}
.mb-margin-right-100 {
  margin-right: 100px;
}
.mb-margin-bottom-100 {
  margin-bottom: 100px;
}
.mb-margin-left-100 {
  margin-left: 100px;
}
.mb-margin-top-95 {
  margin-top: 95px;
}
.mb-margin-right-95 {
  margin-right: 95px;
}
.mb-margin-bottom-95 {
  margin-bottom: 95px;
}
.mb-margin-left-95 {
  margin-left: 95px;
}
.mb-margin-top-90 {
  margin-top: 90px;
}
.mb-margin-right-90 {
  margin-right: 90px;
}
.mb-margin-bottom-90 {
  margin-bottom: 90px;
}
.mb-margin-left-90 {
  margin-left: 90px;
}
.mb-margin-top-85 {
  margin-top: 85px;
}
.mb-margin-right-85 {
  margin-right: 85px;
}
.mb-margin-bottom-85 {
  margin-bottom: 85px;
}
.mb-margin-left-85 {
  margin-left: 85px;
}
.mb-margin-top-80 {
  margin-top: 80px;
}
.mb-margin-right-80 {
  margin-right: 80px;
}
.mb-margin-bottom-80 {
  margin-bottom: 80px;
}
.mb-margin-left-80 {
  margin-left: 80px;
}
.mb-margin-top-75 {
  margin-top: 75px;
}
.mb-margin-right-75 {
  margin-right: 75px;
}
.mb-margin-bottom-75 {
  margin-bottom: 75px;
}
.mb-margin-left-75 {
  margin-left: 75px;
}
.mb-margin-top-70 {
  margin-top: 70px;
}
.mb-margin-right-70 {
  margin-right: 70px;
}
.mb-margin-bottom-70 {
  margin-bottom: 70px;
}
.mb-margin-left-70 {
  margin-left: 70px;
}
.mb-margin-top-65 {
  margin-top: 65px;
}
.mb-margin-right-65 {
  margin-right: 65px;
}
.mb-margin-bottom-65 {
  margin-bottom: 65px;
}
.mb-margin-left-65 {
  margin-left: 65px;
}
.mb-margin-top-60 {
  margin-top: 60px;
}
.mb-margin-right-60 {
  margin-right: 60px;
}
.mb-margin-bottom-60 {
  margin-bottom: 60px;
}
.mb-margin-left-60 {
  margin-left: 60px;
}
.mb-margin-top-55 {
  margin-top: 55px;
}
.mb-margin-right-55 {
  margin-right: 55px;
}
.mb-margin-bottom-55 {
  margin-bottom: 55px;
}
.mb-margin-left-55 {
  margin-left: 55px;
}
.mb-margin-top-50 {
  margin-top: 50px;
}
.mb-margin-right-50 {
  margin-right: 50px;
}
.mb-margin-bottom-50 {
  margin-bottom: 50px;
}
.mb-margin-left-50 {
  margin-left: 50px;
}
.mb-margin-top-45 {
  margin-top: 45px;
}
.mb-margin-right-45 {
  margin-right: 45px;
}
.mb-margin-bottom-45 {
  margin-bottom: 45px;
}
.mb-margin-left-45 {
  margin-left: 45px;
}
.mb-margin-top-40 {
  margin-top: 40px;
}
.mb-margin-right-40 {
  margin-right: 40px;
}
.mb-margin-bottom-40 {
  margin-bottom: 40px;
}
.mb-margin-left-40 {
  margin-left: 40px;
}
.mb-margin-top-35 {
  margin-top: 35px;
}
.mb-margin-right-35 {
  margin-right: 35px;
}
.mb-margin-bottom-35 {
  margin-bottom: 35px;
}
.mb-margin-left-35 {
  margin-left: 35px;
}
.mb-margin-top-30 {
  margin-top: 30px;
}
.mb-margin-right-30 {
  margin-right: 30px;
}
.mb-margin-bottom-30 {
  margin-bottom: 30px;
}
.mb-margin-left-30 {
  margin-left: 30px;
}
.mb-margin-top-25 {
  margin-top: 25px;
}
.mb-margin-right-25 {
  margin-right: 25px;
}
.mb-margin-bottom-25 {
  margin-bottom: 25px;
}
.mb-margin-left-25 {
  margin-left: 25px;
}
.mb-margin-top-20 {
  margin-top: 20px;
}
.mb-margin-right-20 {
  margin-right: 20px;
}
.mb-margin-bottom-20 {
  margin-bottom: 20px;
}
.mb-margin-left-20 {
  margin-left: 20px;
}
.mb-margin-top-15 {
  margin-top: 15px;
}
.mb-margin-right-15 {
  margin-right: 15px;
}
.mb-margin-bottom-15 {
  margin-bottom: 15px;
}
.mb-margin-left-15 {
  margin-left: 15px;
}
.mb-margin-top-10 {
  margin-top: 10px;
}
.mb-margin-right-10 {
  margin-right: 10px;
}
.mb-margin-bottom-10 {
  margin-bottom: 10px;
}
.mb-margin-left-10 {
  margin-left: 10px;
}
.mb-margin-top-5 {
  margin-top: 5px;
}
.mb-margin-right-5 {
  margin-right: 5px;
}
.mb-margin-bottom-5 {
  margin-bottom: 5px;
}
.mb-margin-left-5 {
  margin-left: 5px;
}
.mb-margin-top-0 {
  margin-top: 0px;
}
.mb-margin-right-0 {
  margin-right: 0px;
}
.mb-margin-bottom-0 {
  margin-bottom: 0px;
}
.mb-margin-left-0 {
  margin-left: 0px;
}
.mb-padding-0 {
  padding: 0;
}
.mb-padding-top-100 {
  padding-top: 100px;
}
.mb-padding-right-100 {
  padding-right: 100px;
}
.mb-padding-bottom-100 {
  padding-bottom: 100px;
}
.mb-padding-left-100 {
  padding-left: 100px;
}
.mb-padding-top-95 {
  padding-top: 95px;
}
.mb-padding-right-95 {
  padding-right: 95px;
}
.mb-padding-bottom-95 {
  padding-bottom: 95px;
}
.mb-padding-left-95 {
  padding-left: 95px;
}
.mb-padding-top-90 {
  padding-top: 90px;
}
.mb-padding-right-90 {
  padding-right: 90px;
}
.mb-padding-bottom-90 {
  padding-bottom: 90px;
}
.mb-padding-left-90 {
  padding-left: 90px;
}
.mb-padding-top-85 {
  padding-top: 85px;
}
.mb-padding-right-85 {
  padding-right: 85px;
}
.mb-padding-bottom-85 {
  padding-bottom: 85px;
}
.mb-padding-left-85 {
  padding-left: 85px;
}
.mb-padding-top-80 {
  padding-top: 80px;
}
.mb-padding-right-80 {
  padding-right: 80px;
}
.mb-padding-bottom-80 {
  padding-bottom: 80px;
}
.mb-padding-left-80 {
  padding-left: 80px;
}
.mb-padding-top-75 {
  padding-top: 75px;
}
.mb-padding-right-75 {
  padding-right: 75px;
}
.mb-padding-bottom-75 {
  padding-bottom: 75px;
}
.mb-padding-left-75 {
  padding-left: 75px;
}
.mb-padding-top-70 {
  padding-top: 70px;
}
.mb-padding-right-70 {
  padding-right: 70px;
}
.mb-padding-bottom-70 {
  padding-bottom: 70px;
}
.mb-padding-left-70 {
  padding-left: 70px;
}
.mb-padding-top-65 {
  padding-top: 65px;
}
.mb-padding-right-65 {
  padding-right: 65px;
}
.mb-padding-bottom-65 {
  padding-bottom: 65px;
}
.mb-padding-left-65 {
  padding-left: 65px;
}
.mb-padding-top-60 {
  padding-top: 60px;
}
.mb-padding-right-60 {
  padding-right: 60px;
}
.mb-padding-bottom-60 {
  padding-bottom: 60px;
}
.mb-padding-left-60 {
  padding-left: 60px;
}
.mb-padding-top-55 {
  padding-top: 55px;
}
.mb-padding-right-55 {
  padding-right: 55px;
}
.mb-padding-bottom-55 {
  padding-bottom: 55px;
}
.mb-padding-left-55 {
  padding-left: 55px;
}
.mb-padding-top-50 {
  padding-top: 50px;
}
.mb-padding-right-50 {
  padding-right: 50px;
}
.mb-padding-bottom-50 {
  padding-bottom: 50px;
}
.mb-padding-left-50 {
  padding-left: 50px;
}
.mb-padding-top-45 {
  padding-top: 45px;
}
.mb-padding-right-45 {
  padding-right: 45px;
}
.mb-padding-bottom-45 {
  padding-bottom: 45px;
}
.mb-padding-left-45 {
  padding-left: 45px;
}
.mb-padding-top-40 {
  padding-top: 40px;
}
.mb-padding-right-40 {
  padding-right: 40px;
}
.mb-padding-bottom-40 {
  padding-bottom: 40px;
}
.mb-padding-left-40 {
  padding-left: 40px;
}
.mb-padding-top-35 {
  padding-top: 35px;
}
.mb-padding-right-35 {
  padding-right: 35px;
}
.mb-padding-bottom-35 {
  padding-bottom: 35px;
}
.mb-padding-left-35 {
  padding-left: 35px;
}
.mb-padding-top-30 {
  padding-top: 30px;
}
.mb-padding-right-30 {
  padding-right: 30px;
}
.mb-padding-bottom-30 {
  padding-bottom: 30px;
}
.mb-padding-left-30 {
  padding-left: 30px;
}
.mb-padding-top-25 {
  padding-top: 25px;
}
.mb-padding-right-25 {
  padding-right: 25px;
}
.mb-padding-bottom-25 {
  padding-bottom: 25px;
}
.mb-padding-left-25 {
  padding-left: 25px;
}
.mb-padding-top-20 {
  padding-top: 20px;
}
.mb-padding-right-20 {
  padding-right: 20px;
}
.mb-padding-bottom-20 {
  padding-bottom: 20px;
}
.mb-padding-left-20 {
  padding-left: 20px;
}
.mb-padding-top-15 {
  padding-top: 15px;
}
.mb-padding-right-15 {
  padding-right: 15px;
}
.mb-padding-bottom-15 {
  padding-bottom: 15px;
}
.mb-padding-left-15 {
  padding-left: 15px;
}
.mb-padding-top-10 {
  padding-top: 10px;
}
.mb-padding-right-10 {
  padding-right: 10px;
}
.mb-padding-bottom-10 {
  padding-bottom: 10px;
}
.mb-padding-left-10 {
  padding-left: 10px;
}
.mb-padding-top-5 {
  padding-top: 5px;
}
.mb-padding-right-5 {
  padding-right: 5px;
}
.mb-padding-bottom-5 {
  padding-bottom: 5px;
}
.mb-padding-left-5 {
  padding-left: 5px;
}
.mb-padding-top-0 {
  padding-top: 0px;
}
.mb-padding-right-0 {
  padding-right: 0px;
}
.mb-padding-bottom-0 {
  padding-bottom: 0px;
}
.mb-padding-left-0 {
  padding-left: 0px;
}
@media (min-width: 768px) {
  .tb-margin-0 {
    margin: 0;
  }
  .tb-margin-top-100 {
    margin-top: 100px;
  }
  .tb-margin-right-100 {
    margin-right: 100px;
  }
  .tb-margin-bottom-100 {
    margin-bottom: 100px;
  }
  .tb-margin-left-100 {
    margin-left: 100px;
  }
  .tb-margin-top-95 {
    margin-top: 95px;
  }
  .tb-margin-right-95 {
    margin-right: 95px;
  }
  .tb-margin-bottom-95 {
    margin-bottom: 95px;
  }
  .tb-margin-left-95 {
    margin-left: 95px;
  }
  .tb-margin-top-90 {
    margin-top: 90px;
  }
  .tb-margin-right-90 {
    margin-right: 90px;
  }
  .tb-margin-bottom-90 {
    margin-bottom: 90px;
  }
  .tb-margin-left-90 {
    margin-left: 90px;
  }
  .tb-margin-top-85 {
    margin-top: 85px;
  }
  .tb-margin-right-85 {
    margin-right: 85px;
  }
  .tb-margin-bottom-85 {
    margin-bottom: 85px;
  }
  .tb-margin-left-85 {
    margin-left: 85px;
  }
  .tb-margin-top-80 {
    margin-top: 80px;
  }
  .tb-margin-right-80 {
    margin-right: 80px;
  }
  .tb-margin-bottom-80 {
    margin-bottom: 80px;
  }
  .tb-margin-left-80 {
    margin-left: 80px;
  }
  .tb-margin-top-75 {
    margin-top: 75px;
  }
  .tb-margin-right-75 {
    margin-right: 75px;
  }
  .tb-margin-bottom-75 {
    margin-bottom: 75px;
  }
  .tb-margin-left-75 {
    margin-left: 75px;
  }
  .tb-margin-top-70 {
    margin-top: 70px;
  }
  .tb-margin-right-70 {
    margin-right: 70px;
  }
  .tb-margin-bottom-70 {
    margin-bottom: 70px;
  }
  .tb-margin-left-70 {
    margin-left: 70px;
  }
  .tb-margin-top-65 {
    margin-top: 65px;
  }
  .tb-margin-right-65 {
    margin-right: 65px;
  }
  .tb-margin-bottom-65 {
    margin-bottom: 65px;
  }
  .tb-margin-left-65 {
    margin-left: 65px;
  }
  .tb-margin-top-60 {
    margin-top: 60px;
  }
  .tb-margin-right-60 {
    margin-right: 60px;
  }
  .tb-margin-bottom-60 {
    margin-bottom: 60px;
  }
  .tb-margin-left-60 {
    margin-left: 60px;
  }
  .tb-margin-top-55 {
    margin-top: 55px;
  }
  .tb-margin-right-55 {
    margin-right: 55px;
  }
  .tb-margin-bottom-55 {
    margin-bottom: 55px;
  }
  .tb-margin-left-55 {
    margin-left: 55px;
  }
  .tb-margin-top-50 {
    margin-top: 50px;
  }
  .tb-margin-right-50 {
    margin-right: 50px;
  }
  .tb-margin-bottom-50 {
    margin-bottom: 50px;
  }
  .tb-margin-left-50 {
    margin-left: 50px;
  }
  .tb-margin-top-45 {
    margin-top: 45px;
  }
  .tb-margin-right-45 {
    margin-right: 45px;
  }
  .tb-margin-bottom-45 {
    margin-bottom: 45px;
  }
  .tb-margin-left-45 {
    margin-left: 45px;
  }
  .tb-margin-top-40 {
    margin-top: 40px;
  }
  .tb-margin-right-40 {
    margin-right: 40px;
  }
  .tb-margin-bottom-40 {
    margin-bottom: 40px;
  }
  .tb-margin-left-40 {
    margin-left: 40px;
  }
  .tb-margin-top-35 {
    margin-top: 35px;
  }
  .tb-margin-right-35 {
    margin-right: 35px;
  }
  .tb-margin-bottom-35 {
    margin-bottom: 35px;
  }
  .tb-margin-left-35 {
    margin-left: 35px;
  }
  .tb-margin-top-30 {
    margin-top: 30px;
  }
  .tb-margin-right-30 {
    margin-right: 30px;
  }
  .tb-margin-bottom-30 {
    margin-bottom: 30px;
  }
  .tb-margin-left-30 {
    margin-left: 30px;
  }
  .tb-margin-top-25 {
    margin-top: 25px;
  }
  .tb-margin-right-25 {
    margin-right: 25px;
  }
  .tb-margin-bottom-25 {
    margin-bottom: 25px;
  }
  .tb-margin-left-25 {
    margin-left: 25px;
  }
  .tb-margin-top-20 {
    margin-top: 20px;
  }
  .tb-margin-right-20 {
    margin-right: 20px;
  }
  .tb-margin-bottom-20 {
    margin-bottom: 20px;
  }
  .tb-margin-left-20 {
    margin-left: 20px;
  }
  .tb-margin-top-15 {
    margin-top: 15px;
  }
  .tb-margin-right-15 {
    margin-right: 15px;
  }
  .tb-margin-bottom-15 {
    margin-bottom: 15px;
  }
  .tb-margin-left-15 {
    margin-left: 15px;
  }
  .tb-margin-top-10 {
    margin-top: 10px;
  }
  .tb-margin-right-10 {
    margin-right: 10px;
  }
  .tb-margin-bottom-10 {
    margin-bottom: 10px;
  }
  .tb-margin-left-10 {
    margin-left: 10px;
  }
  .tb-margin-top-5 {
    margin-top: 5px;
  }
  .tb-margin-right-5 {
    margin-right: 5px;
  }
  .tb-margin-bottom-5 {
    margin-bottom: 5px;
  }
  .tb-margin-left-5 {
    margin-left: 5px;
  }
  .tb-margin-top-0 {
    margin-top: 0px;
  }
  .tb-margin-right-0 {
    margin-right: 0px;
  }
  .tb-margin-bottom-0 {
    margin-bottom: 0px;
  }
  .tb-margin-left-0 {
    margin-left: 0px;
  }
  .tb-padding-0 {
    padding: 0;
  }
  .tb-padding-top-100 {
    padding-top: 100px;
  }
  .tb-padding-right-100 {
    padding-right: 100px;
  }
  .tb-padding-bottom-100 {
    padding-bottom: 100px;
  }
  .tb-padding-left-100 {
    padding-left: 100px;
  }
  .tb-padding-top-95 {
    padding-top: 95px;
  }
  .tb-padding-right-95 {
    padding-right: 95px;
  }
  .tb-padding-bottom-95 {
    padding-bottom: 95px;
  }
  .tb-padding-left-95 {
    padding-left: 95px;
  }
  .tb-padding-top-90 {
    padding-top: 90px;
  }
  .tb-padding-right-90 {
    padding-right: 90px;
  }
  .tb-padding-bottom-90 {
    padding-bottom: 90px;
  }
  .tb-padding-left-90 {
    padding-left: 90px;
  }
  .tb-padding-top-85 {
    padding-top: 85px;
  }
  .tb-padding-right-85 {
    padding-right: 85px;
  }
  .tb-padding-bottom-85 {
    padding-bottom: 85px;
  }
  .tb-padding-left-85 {
    padding-left: 85px;
  }
  .tb-padding-top-80 {
    padding-top: 80px;
  }
  .tb-padding-right-80 {
    padding-right: 80px;
  }
  .tb-padding-bottom-80 {
    padding-bottom: 80px;
  }
  .tb-padding-left-80 {
    padding-left: 80px;
  }
  .tb-padding-top-75 {
    padding-top: 75px;
  }
  .tb-padding-right-75 {
    padding-right: 75px;
  }
  .tb-padding-bottom-75 {
    padding-bottom: 75px;
  }
  .tb-padding-left-75 {
    padding-left: 75px;
  }
  .tb-padding-top-70 {
    padding-top: 70px;
  }
  .tb-padding-right-70 {
    padding-right: 70px;
  }
  .tb-padding-bottom-70 {
    padding-bottom: 70px;
  }
  .tb-padding-left-70 {
    padding-left: 70px;
  }
  .tb-padding-top-65 {
    padding-top: 65px;
  }
  .tb-padding-right-65 {
    padding-right: 65px;
  }
  .tb-padding-bottom-65 {
    padding-bottom: 65px;
  }
  .tb-padding-left-65 {
    padding-left: 65px;
  }
  .tb-padding-top-60 {
    padding-top: 60px;
  }
  .tb-padding-right-60 {
    padding-right: 60px;
  }
  .tb-padding-bottom-60 {
    padding-bottom: 60px;
  }
  .tb-padding-left-60 {
    padding-left: 60px;
  }
  .tb-padding-top-55 {
    padding-top: 55px;
  }
  .tb-padding-right-55 {
    padding-right: 55px;
  }
  .tb-padding-bottom-55 {
    padding-bottom: 55px;
  }
  .tb-padding-left-55 {
    padding-left: 55px;
  }
  .tb-padding-top-50 {
    padding-top: 50px;
  }
  .tb-padding-right-50 {
    padding-right: 50px;
  }
  .tb-padding-bottom-50 {
    padding-bottom: 50px;
  }
  .tb-padding-left-50 {
    padding-left: 50px;
  }
  .tb-padding-top-45 {
    padding-top: 45px;
  }
  .tb-padding-right-45 {
    padding-right: 45px;
  }
  .tb-padding-bottom-45 {
    padding-bottom: 45px;
  }
  .tb-padding-left-45 {
    padding-left: 45px;
  }
  .tb-padding-top-40 {
    padding-top: 40px;
  }
  .tb-padding-right-40 {
    padding-right: 40px;
  }
  .tb-padding-bottom-40 {
    padding-bottom: 40px;
  }
  .tb-padding-left-40 {
    padding-left: 40px;
  }
  .tb-padding-top-35 {
    padding-top: 35px;
  }
  .tb-padding-right-35 {
    padding-right: 35px;
  }
  .tb-padding-bottom-35 {
    padding-bottom: 35px;
  }
  .tb-padding-left-35 {
    padding-left: 35px;
  }
  .tb-padding-top-30 {
    padding-top: 30px;
  }
  .tb-padding-right-30 {
    padding-right: 30px;
  }
  .tb-padding-bottom-30 {
    padding-bottom: 30px;
  }
  .tb-padding-left-30 {
    padding-left: 30px;
  }
  .tb-padding-top-25 {
    padding-top: 25px;
  }
  .tb-padding-right-25 {
    padding-right: 25px;
  }
  .tb-padding-bottom-25 {
    padding-bottom: 25px;
  }
  .tb-padding-left-25 {
    padding-left: 25px;
  }
  .tb-padding-top-20 {
    padding-top: 20px;
  }
  .tb-padding-right-20 {
    padding-right: 20px;
  }
  .tb-padding-bottom-20 {
    padding-bottom: 20px;
  }
  .tb-padding-left-20 {
    padding-left: 20px;
  }
  .tb-padding-top-15 {
    padding-top: 15px;
  }
  .tb-padding-right-15 {
    padding-right: 15px;
  }
  .tb-padding-bottom-15 {
    padding-bottom: 15px;
  }
  .tb-padding-left-15 {
    padding-left: 15px;
  }
  .tb-padding-top-10 {
    padding-top: 10px;
  }
  .tb-padding-right-10 {
    padding-right: 10px;
  }
  .tb-padding-bottom-10 {
    padding-bottom: 10px;
  }
  .tb-padding-left-10 {
    padding-left: 10px;
  }
  .tb-padding-top-5 {
    padding-top: 5px;
  }
  .tb-padding-right-5 {
    padding-right: 5px;
  }
  .tb-padding-bottom-5 {
    padding-bottom: 5px;
  }
  .tb-padding-left-5 {
    padding-left: 5px;
  }
  .tb-padding-top-0 {
    padding-top: 0px;
  }
  .tb-padding-right-0 {
    padding-right: 0px;
  }
  .tb-padding-bottom-0 {
    padding-bottom: 0px;
  }
  .tb-padding-left-0 {
    padding-left: 0px;
  }
}
@media (min-width: 992px) {
  .dt-margin-0 {
    margin: 0;
  }
  .dt-margin-top-100 {
    margin-top: 100px;
  }
  .dt-margin-right-100 {
    margin-right: 100px;
  }
  .dt-margin-bottom-100 {
    margin-bottom: 100px;
  }
  .dt-margin-left-100 {
    margin-left: 100px;
  }
  .dt-margin-top-95 {
    margin-top: 95px;
  }
  .dt-margin-right-95 {
    margin-right: 95px;
  }
  .dt-margin-bottom-95 {
    margin-bottom: 95px;
  }
  .dt-margin-left-95 {
    margin-left: 95px;
  }
  .dt-margin-top-90 {
    margin-top: 90px;
  }
  .dt-margin-right-90 {
    margin-right: 90px;
  }
  .dt-margin-bottom-90 {
    margin-bottom: 90px;
  }
  .dt-margin-left-90 {
    margin-left: 90px;
  }
  .dt-margin-top-85 {
    margin-top: 85px;
  }
  .dt-margin-right-85 {
    margin-right: 85px;
  }
  .dt-margin-bottom-85 {
    margin-bottom: 85px;
  }
  .dt-margin-left-85 {
    margin-left: 85px;
  }
  .dt-margin-top-80 {
    margin-top: 80px;
  }
  .dt-margin-right-80 {
    margin-right: 80px;
  }
  .dt-margin-bottom-80 {
    margin-bottom: 80px;
  }
  .dt-margin-left-80 {
    margin-left: 80px;
  }
  .dt-margin-top-75 {
    margin-top: 75px;
  }
  .dt-margin-right-75 {
    margin-right: 75px;
  }
  .dt-margin-bottom-75 {
    margin-bottom: 75px;
  }
  .dt-margin-left-75 {
    margin-left: 75px;
  }
  .dt-margin-top-70 {
    margin-top: 70px;
  }
  .dt-margin-right-70 {
    margin-right: 70px;
  }
  .dt-margin-bottom-70 {
    margin-bottom: 70px;
  }
  .dt-margin-left-70 {
    margin-left: 70px;
  }
  .dt-margin-top-65 {
    margin-top: 65px;
  }
  .dt-margin-right-65 {
    margin-right: 65px;
  }
  .dt-margin-bottom-65 {
    margin-bottom: 65px;
  }
  .dt-margin-left-65 {
    margin-left: 65px;
  }
  .dt-margin-top-60 {
    margin-top: 60px;
  }
  .dt-margin-right-60 {
    margin-right: 60px;
  }
  .dt-margin-bottom-60 {
    margin-bottom: 60px;
  }
  .dt-margin-left-60 {
    margin-left: 60px;
  }
  .dt-margin-top-55 {
    margin-top: 55px;
  }
  .dt-margin-right-55 {
    margin-right: 55px;
  }
  .dt-margin-bottom-55 {
    margin-bottom: 55px;
  }
  .dt-margin-left-55 {
    margin-left: 55px;
  }
  .dt-margin-top-50 {
    margin-top: 50px;
  }
  .dt-margin-right-50 {
    margin-right: 50px;
  }
  .dt-margin-bottom-50 {
    margin-bottom: 50px;
  }
  .dt-margin-left-50 {
    margin-left: 50px;
  }
  .dt-margin-top-45 {
    margin-top: 45px;
  }
  .dt-margin-right-45 {
    margin-right: 45px;
  }
  .dt-margin-bottom-45 {
    margin-bottom: 45px;
  }
  .dt-margin-left-45 {
    margin-left: 45px;
  }
  .dt-margin-top-40 {
    margin-top: 40px;
  }
  .dt-margin-right-40 {
    margin-right: 40px;
  }
  .dt-margin-bottom-40 {
    margin-bottom: 40px;
  }
  .dt-margin-left-40 {
    margin-left: 40px;
  }
  .dt-margin-top-35 {
    margin-top: 35px;
  }
  .dt-margin-right-35 {
    margin-right: 35px;
  }
  .dt-margin-bottom-35 {
    margin-bottom: 35px;
  }
  .dt-margin-left-35 {
    margin-left: 35px;
  }
  .dt-margin-top-30 {
    margin-top: 30px;
  }
  .dt-margin-right-30 {
    margin-right: 30px;
  }
  .dt-margin-bottom-30 {
    margin-bottom: 30px;
  }
  .dt-margin-left-30 {
    margin-left: 30px;
  }
  .dt-margin-top-25 {
    margin-top: 25px;
  }
  .dt-margin-right-25 {
    margin-right: 25px;
  }
  .dt-margin-bottom-25 {
    margin-bottom: 25px;
  }
  .dt-margin-left-25 {
    margin-left: 25px;
  }
  .dt-margin-top-20 {
    margin-top: 20px;
  }
  .dt-margin-right-20 {
    margin-right: 20px;
  }
  .dt-margin-bottom-20 {
    margin-bottom: 20px;
  }
  .dt-margin-left-20 {
    margin-left: 20px;
  }
  .dt-margin-top-15 {
    margin-top: 15px;
  }
  .dt-margin-right-15 {
    margin-right: 15px;
  }
  .dt-margin-bottom-15 {
    margin-bottom: 15px;
  }
  .dt-margin-left-15 {
    margin-left: 15px;
  }
  .dt-margin-top-10 {
    margin-top: 10px;
  }
  .dt-margin-right-10 {
    margin-right: 10px;
  }
  .dt-margin-bottom-10 {
    margin-bottom: 10px;
  }
  .dt-margin-left-10 {
    margin-left: 10px;
  }
  .dt-margin-top-5 {
    margin-top: 5px;
  }
  .dt-margin-right-5 {
    margin-right: 5px;
  }
  .dt-margin-bottom-5 {
    margin-bottom: 5px;
  }
  .dt-margin-left-5 {
    margin-left: 5px;
  }
  .dt-margin-top-0 {
    margin-top: 0px;
  }
  .dt-margin-right-0 {
    margin-right: 0px;
  }
  .dt-margin-bottom-0 {
    margin-bottom: 0px;
  }
  .dt-margin-left-0 {
    margin-left: 0px;
  }
  .dt-padding-0 {
    padding: 0;
  }
  .dt-padding-top-100 {
    padding-top: 100px;
  }
  .dt-padding-right-100 {
    padding-right: 100px;
  }
  .dt-padding-bottom-100 {
    padding-bottom: 100px;
  }
  .dt-padding-left-100 {
    padding-left: 100px;
  }
  .dt-padding-top-95 {
    padding-top: 95px;
  }
  .dt-padding-right-95 {
    padding-right: 95px;
  }
  .dt-padding-bottom-95 {
    padding-bottom: 95px;
  }
  .dt-padding-left-95 {
    padding-left: 95px;
  }
  .dt-padding-top-90 {
    padding-top: 90px;
  }
  .dt-padding-right-90 {
    padding-right: 90px;
  }
  .dt-padding-bottom-90 {
    padding-bottom: 90px;
  }
  .dt-padding-left-90 {
    padding-left: 90px;
  }
  .dt-padding-top-85 {
    padding-top: 85px;
  }
  .dt-padding-right-85 {
    padding-right: 85px;
  }
  .dt-padding-bottom-85 {
    padding-bottom: 85px;
  }
  .dt-padding-left-85 {
    padding-left: 85px;
  }
  .dt-padding-top-80 {
    padding-top: 80px;
  }
  .dt-padding-right-80 {
    padding-right: 80px;
  }
  .dt-padding-bottom-80 {
    padding-bottom: 80px;
  }
  .dt-padding-left-80 {
    padding-left: 80px;
  }
  .dt-padding-top-75 {
    padding-top: 75px;
  }
  .dt-padding-right-75 {
    padding-right: 75px;
  }
  .dt-padding-bottom-75 {
    padding-bottom: 75px;
  }
  .dt-padding-left-75 {
    padding-left: 75px;
  }
  .dt-padding-top-70 {
    padding-top: 70px;
  }
  .dt-padding-right-70 {
    padding-right: 70px;
  }
  .dt-padding-bottom-70 {
    padding-bottom: 70px;
  }
  .dt-padding-left-70 {
    padding-left: 70px;
  }
  .dt-padding-top-65 {
    padding-top: 65px;
  }
  .dt-padding-right-65 {
    padding-right: 65px;
  }
  .dt-padding-bottom-65 {
    padding-bottom: 65px;
  }
  .dt-padding-left-65 {
    padding-left: 65px;
  }
  .dt-padding-top-60 {
    padding-top: 60px;
  }
  .dt-padding-right-60 {
    padding-right: 60px;
  }
  .dt-padding-bottom-60 {
    padding-bottom: 60px;
  }
  .dt-padding-left-60 {
    padding-left: 60px;
  }
  .dt-padding-top-55 {
    padding-top: 55px;
  }
  .dt-padding-right-55 {
    padding-right: 55px;
  }
  .dt-padding-bottom-55 {
    padding-bottom: 55px;
  }
  .dt-padding-left-55 {
    padding-left: 55px;
  }
  .dt-padding-top-50 {
    padding-top: 50px;
  }
  .dt-padding-right-50 {
    padding-right: 50px;
  }
  .dt-padding-bottom-50 {
    padding-bottom: 50px;
  }
  .dt-padding-left-50 {
    padding-left: 50px;
  }
  .dt-padding-top-45 {
    padding-top: 45px;
  }
  .dt-padding-right-45 {
    padding-right: 45px;
  }
  .dt-padding-bottom-45 {
    padding-bottom: 45px;
  }
  .dt-padding-left-45 {
    padding-left: 45px;
  }
  .dt-padding-top-40 {
    padding-top: 40px;
  }
  .dt-padding-right-40 {
    padding-right: 40px;
  }
  .dt-padding-bottom-40 {
    padding-bottom: 40px;
  }
  .dt-padding-left-40 {
    padding-left: 40px;
  }
  .dt-padding-top-35 {
    padding-top: 35px;
  }
  .dt-padding-right-35 {
    padding-right: 35px;
  }
  .dt-padding-bottom-35 {
    padding-bottom: 35px;
  }
  .dt-padding-left-35 {
    padding-left: 35px;
  }
  .dt-padding-top-30 {
    padding-top: 30px;
  }
  .dt-padding-right-30 {
    padding-right: 30px;
  }
  .dt-padding-bottom-30 {
    padding-bottom: 30px;
  }
  .dt-padding-left-30 {
    padding-left: 30px;
  }
  .dt-padding-top-25 {
    padding-top: 25px;
  }
  .dt-padding-right-25 {
    padding-right: 25px;
  }
  .dt-padding-bottom-25 {
    padding-bottom: 25px;
  }
  .dt-padding-left-25 {
    padding-left: 25px;
  }
  .dt-padding-top-20 {
    padding-top: 20px;
  }
  .dt-padding-right-20 {
    padding-right: 20px;
  }
  .dt-padding-bottom-20 {
    padding-bottom: 20px;
  }
  .dt-padding-left-20 {
    padding-left: 20px;
  }
  .dt-padding-top-15 {
    padding-top: 15px;
  }
  .dt-padding-right-15 {
    padding-right: 15px;
  }
  .dt-padding-bottom-15 {
    padding-bottom: 15px;
  }
  .dt-padding-left-15 {
    padding-left: 15px;
  }
  .dt-padding-top-10 {
    padding-top: 10px;
  }
  .dt-padding-right-10 {
    padding-right: 10px;
  }
  .dt-padding-bottom-10 {
    padding-bottom: 10px;
  }
  .dt-padding-left-10 {
    padding-left: 10px;
  }
  .dt-padding-top-5 {
    padding-top: 5px;
  }
  .dt-padding-right-5 {
    padding-right: 5px;
  }
  .dt-padding-bottom-5 {
    padding-bottom: 5px;
  }
  .dt-padding-left-5 {
    padding-left: 5px;
  }
  .dt-padding-top-0 {
    padding-top: 0px;
  }
  .dt-padding-right-0 {
    padding-right: 0px;
  }
  .dt-padding-bottom-0 {
    padding-bottom: 0px;
  }
  .dt-padding-left-0 {
    padding-left: 0px;
  }
}
@media (min-width: 1200px) {
  .hd-margin-0 {
    margin: 0;
  }
  .hd-margin-top-100 {
    margin-top: 100px;
  }
  .hd-margin-right-100 {
    margin-right: 100px;
  }
  .hd-margin-bottom-100 {
    margin-bottom: 100px;
  }
  .hd-margin-left-100 {
    margin-left: 100px;
  }
  .hd-margin-top-95 {
    margin-top: 95px;
  }
  .hd-margin-right-95 {
    margin-right: 95px;
  }
  .hd-margin-bottom-95 {
    margin-bottom: 95px;
  }
  .hd-margin-left-95 {
    margin-left: 95px;
  }
  .hd-margin-top-90 {
    margin-top: 90px;
  }
  .hd-margin-right-90 {
    margin-right: 90px;
  }
  .hd-margin-bottom-90 {
    margin-bottom: 90px;
  }
  .hd-margin-left-90 {
    margin-left: 90px;
  }
  .hd-margin-top-85 {
    margin-top: 85px;
  }
  .hd-margin-right-85 {
    margin-right: 85px;
  }
  .hd-margin-bottom-85 {
    margin-bottom: 85px;
  }
  .hd-margin-left-85 {
    margin-left: 85px;
  }
  .hd-margin-top-80 {
    margin-top: 80px;
  }
  .hd-margin-right-80 {
    margin-right: 80px;
  }
  .hd-margin-bottom-80 {
    margin-bottom: 80px;
  }
  .hd-margin-left-80 {
    margin-left: 80px;
  }
  .hd-margin-top-75 {
    margin-top: 75px;
  }
  .hd-margin-right-75 {
    margin-right: 75px;
  }
  .hd-margin-bottom-75 {
    margin-bottom: 75px;
  }
  .hd-margin-left-75 {
    margin-left: 75px;
  }
  .hd-margin-top-70 {
    margin-top: 70px;
  }
  .hd-margin-right-70 {
    margin-right: 70px;
  }
  .hd-margin-bottom-70 {
    margin-bottom: 70px;
  }
  .hd-margin-left-70 {
    margin-left: 70px;
  }
  .hd-margin-top-65 {
    margin-top: 65px;
  }
  .hd-margin-right-65 {
    margin-right: 65px;
  }
  .hd-margin-bottom-65 {
    margin-bottom: 65px;
  }
  .hd-margin-left-65 {
    margin-left: 65px;
  }
  .hd-margin-top-60 {
    margin-top: 60px;
  }
  .hd-margin-right-60 {
    margin-right: 60px;
  }
  .hd-margin-bottom-60 {
    margin-bottom: 60px;
  }
  .hd-margin-left-60 {
    margin-left: 60px;
  }
  .hd-margin-top-55 {
    margin-top: 55px;
  }
  .hd-margin-right-55 {
    margin-right: 55px;
  }
  .hd-margin-bottom-55 {
    margin-bottom: 55px;
  }
  .hd-margin-left-55 {
    margin-left: 55px;
  }
  .hd-margin-top-50 {
    margin-top: 50px;
  }
  .hd-margin-right-50 {
    margin-right: 50px;
  }
  .hd-margin-bottom-50 {
    margin-bottom: 50px;
  }
  .hd-margin-left-50 {
    margin-left: 50px;
  }
  .hd-margin-top-45 {
    margin-top: 45px;
  }
  .hd-margin-right-45 {
    margin-right: 45px;
  }
  .hd-margin-bottom-45 {
    margin-bottom: 45px;
  }
  .hd-margin-left-45 {
    margin-left: 45px;
  }
  .hd-margin-top-40 {
    margin-top: 40px;
  }
  .hd-margin-right-40 {
    margin-right: 40px;
  }
  .hd-margin-bottom-40 {
    margin-bottom: 40px;
  }
  .hd-margin-left-40 {
    margin-left: 40px;
  }
  .hd-margin-top-35 {
    margin-top: 35px;
  }
  .hd-margin-right-35 {
    margin-right: 35px;
  }
  .hd-margin-bottom-35 {
    margin-bottom: 35px;
  }
  .hd-margin-left-35 {
    margin-left: 35px;
  }
  .hd-margin-top-30 {
    margin-top: 30px;
  }
  .hd-margin-right-30 {
    margin-right: 30px;
  }
  .hd-margin-bottom-30 {
    margin-bottom: 30px;
  }
  .hd-margin-left-30 {
    margin-left: 30px;
  }
  .hd-margin-top-25 {
    margin-top: 25px;
  }
  .hd-margin-right-25 {
    margin-right: 25px;
  }
  .hd-margin-bottom-25 {
    margin-bottom: 25px;
  }
  .hd-margin-left-25 {
    margin-left: 25px;
  }
  .hd-margin-top-20 {
    margin-top: 20px;
  }
  .hd-margin-right-20 {
    margin-right: 20px;
  }
  .hd-margin-bottom-20 {
    margin-bottom: 20px;
  }
  .hd-margin-left-20 {
    margin-left: 20px;
  }
  .hd-margin-top-15 {
    margin-top: 15px;
  }
  .hd-margin-right-15 {
    margin-right: 15px;
  }
  .hd-margin-bottom-15 {
    margin-bottom: 15px;
  }
  .hd-margin-left-15 {
    margin-left: 15px;
  }
  .hd-margin-top-10 {
    margin-top: 10px;
  }
  .hd-margin-right-10 {
    margin-right: 10px;
  }
  .hd-margin-bottom-10 {
    margin-bottom: 10px;
  }
  .hd-margin-left-10 {
    margin-left: 10px;
  }
  .hd-margin-top-5 {
    margin-top: 5px;
  }
  .hd-margin-right-5 {
    margin-right: 5px;
  }
  .hd-margin-bottom-5 {
    margin-bottom: 5px;
  }
  .hd-margin-left-5 {
    margin-left: 5px;
  }
  .hd-margin-top-0 {
    margin-top: 0px;
  }
  .hd-margin-right-0 {
    margin-right: 0px;
  }
  .hd-margin-bottom-0 {
    margin-bottom: 0px;
  }
  .hd-margin-left-0 {
    margin-left: 0px;
  }
  .hd-padding-0 {
    padding: 0;
  }
  .hd-padding-top-100 {
    padding-top: 100px;
  }
  .hd-padding-right-100 {
    padding-right: 100px;
  }
  .hd-padding-bottom-100 {
    padding-bottom: 100px;
  }
  .hd-padding-left-100 {
    padding-left: 100px;
  }
  .hd-padding-top-95 {
    padding-top: 95px;
  }
  .hd-padding-right-95 {
    padding-right: 95px;
  }
  .hd-padding-bottom-95 {
    padding-bottom: 95px;
  }
  .hd-padding-left-95 {
    padding-left: 95px;
  }
  .hd-padding-top-90 {
    padding-top: 90px;
  }
  .hd-padding-right-90 {
    padding-right: 90px;
  }
  .hd-padding-bottom-90 {
    padding-bottom: 90px;
  }
  .hd-padding-left-90 {
    padding-left: 90px;
  }
  .hd-padding-top-85 {
    padding-top: 85px;
  }
  .hd-padding-right-85 {
    padding-right: 85px;
  }
  .hd-padding-bottom-85 {
    padding-bottom: 85px;
  }
  .hd-padding-left-85 {
    padding-left: 85px;
  }
  .hd-padding-top-80 {
    padding-top: 80px;
  }
  .hd-padding-right-80 {
    padding-right: 80px;
  }
  .hd-padding-bottom-80 {
    padding-bottom: 80px;
  }
  .hd-padding-left-80 {
    padding-left: 80px;
  }
  .hd-padding-top-75 {
    padding-top: 75px;
  }
  .hd-padding-right-75 {
    padding-right: 75px;
  }
  .hd-padding-bottom-75 {
    padding-bottom: 75px;
  }
  .hd-padding-left-75 {
    padding-left: 75px;
  }
  .hd-padding-top-70 {
    padding-top: 70px;
  }
  .hd-padding-right-70 {
    padding-right: 70px;
  }
  .hd-padding-bottom-70 {
    padding-bottom: 70px;
  }
  .hd-padding-left-70 {
    padding-left: 70px;
  }
  .hd-padding-top-65 {
    padding-top: 65px;
  }
  .hd-padding-right-65 {
    padding-right: 65px;
  }
  .hd-padding-bottom-65 {
    padding-bottom: 65px;
  }
  .hd-padding-left-65 {
    padding-left: 65px;
  }
  .hd-padding-top-60 {
    padding-top: 60px;
  }
  .hd-padding-right-60 {
    padding-right: 60px;
  }
  .hd-padding-bottom-60 {
    padding-bottom: 60px;
  }
  .hd-padding-left-60 {
    padding-left: 60px;
  }
  .hd-padding-top-55 {
    padding-top: 55px;
  }
  .hd-padding-right-55 {
    padding-right: 55px;
  }
  .hd-padding-bottom-55 {
    padding-bottom: 55px;
  }
  .hd-padding-left-55 {
    padding-left: 55px;
  }
  .hd-padding-top-50 {
    padding-top: 50px;
  }
  .hd-padding-right-50 {
    padding-right: 50px;
  }
  .hd-padding-bottom-50 {
    padding-bottom: 50px;
  }
  .hd-padding-left-50 {
    padding-left: 50px;
  }
  .hd-padding-top-45 {
    padding-top: 45px;
  }
  .hd-padding-right-45 {
    padding-right: 45px;
  }
  .hd-padding-bottom-45 {
    padding-bottom: 45px;
  }
  .hd-padding-left-45 {
    padding-left: 45px;
  }
  .hd-padding-top-40 {
    padding-top: 40px;
  }
  .hd-padding-right-40 {
    padding-right: 40px;
  }
  .hd-padding-bottom-40 {
    padding-bottom: 40px;
  }
  .hd-padding-left-40 {
    padding-left: 40px;
  }
  .hd-padding-top-35 {
    padding-top: 35px;
  }
  .hd-padding-right-35 {
    padding-right: 35px;
  }
  .hd-padding-bottom-35 {
    padding-bottom: 35px;
  }
  .hd-padding-left-35 {
    padding-left: 35px;
  }
  .hd-padding-top-30 {
    padding-top: 30px;
  }
  .hd-padding-right-30 {
    padding-right: 30px;
  }
  .hd-padding-bottom-30 {
    padding-bottom: 30px;
  }
  .hd-padding-left-30 {
    padding-left: 30px;
  }
  .hd-padding-top-25 {
    padding-top: 25px;
  }
  .hd-padding-right-25 {
    padding-right: 25px;
  }
  .hd-padding-bottom-25 {
    padding-bottom: 25px;
  }
  .hd-padding-left-25 {
    padding-left: 25px;
  }
  .hd-padding-top-20 {
    padding-top: 20px;
  }
  .hd-padding-right-20 {
    padding-right: 20px;
  }
  .hd-padding-bottom-20 {
    padding-bottom: 20px;
  }
  .hd-padding-left-20 {
    padding-left: 20px;
  }
  .hd-padding-top-15 {
    padding-top: 15px;
  }
  .hd-padding-right-15 {
    padding-right: 15px;
  }
  .hd-padding-bottom-15 {
    padding-bottom: 15px;
  }
  .hd-padding-left-15 {
    padding-left: 15px;
  }
  .hd-padding-top-10 {
    padding-top: 10px;
  }
  .hd-padding-right-10 {
    padding-right: 10px;
  }
  .hd-padding-bottom-10 {
    padding-bottom: 10px;
  }
  .hd-padding-left-10 {
    padding-left: 10px;
  }
  .hd-padding-top-5 {
    padding-top: 5px;
  }
  .hd-padding-right-5 {
    padding-right: 5px;
  }
  .hd-padding-bottom-5 {
    padding-bottom: 5px;
  }
  .hd-padding-left-5 {
    padding-left: 5px;
  }
  .hd-padding-top-0 {
    padding-top: 0px;
  }
  .hd-padding-right-0 {
    padding-right: 0px;
  }
  .hd-padding-bottom-0 {
    padding-bottom: 0px;
  }
  .hd-padding-left-0 {
    padding-left: 0px;
  }
}
/* Show & Hide */
.show {
  display: block !important;
}
.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden;
}
.show-mb,
.show-tb,
.show-dt,
.show-hd {
  display: none !important;
}
@media (max-width: 768px) {
  .show-mb {
    display: block !important;
  }
  table.show-mb {
    display: table !important;
  }
  tr.show-mb {
    display: table-row !important;
  }
  th.show-mb,
  td.show-mb {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .show-tb {
    display: block !important;
  }
  table.show-tb {
    display: table !important;
  }
  tr.show-tb {
    display: table-row !important;
  }
  th.show-tb,
  td.show-tb {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .show-dt {
    display: block !important;
  }
  table.show-dt {
    display: table !important;
  }
  tr.show-dt {
    display: table-row !important;
  }
  th.show-dt,
  td.show-dt {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .show-hd {
    display: block !important;
  }
  table.show-hd {
    display: table !important;
  }
  tr.show-hd {
    display: table-row !important;
  }
  th.show-hd,
  td.show-hd {
    display: table-cell !important;
  }
}
@media (max-width: 768px) {
  .hide-mb {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .hide-tb {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .hide-dt {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hide-hd {
    display: none !important;
  }
}
