// Break-points

@screenTablet:        768px;
@screenDesktop:       992px;
@screenDesktopHD:    1200px;

/*

	Generatore di padding, margin

*/
.margin-0{margin: 0;}
.padding-0{padding: 0;}

.generaSpazi(@selector, @numero_elementi, @increase_factor, @mq){

		.loop (@j) when (@j >= 0) {

		  @numero_elementi: @j * @increase_factor;
		  @increase_ammount_value: @j * (@increase_factor * 1px);

		  .@{mq}-@{selector}-top-@{numero_elementi}{ @{selector}-top: @increase_ammount_value; }
		  .@{mq}-@{selector}-right-@{numero_elementi}{ @{selector}-right: @increase_ammount_value; }
		  .@{mq}-@{selector}-bottom-@{numero_elementi}{ @{selector}-bottom: @increase_ammount_value; }
		  .@{mq}-@{selector}-left-@{numero_elementi}{ @{selector}-left: @increase_ammount_value; }

		  .loop(@j - 1);
		}


	.@{mq}-@{selector}-0{
		@{selector}: 0;
	}

	.loop (0) {}
	.loop(@numero_elementi);
}

// Mobile
.generaSpazi(margin, 20, 5, mb);
.generaSpazi(padding, 20, 5, mb);

// Tablet
@media (min-width: @screenTablet) {
	.generaSpazi(margin, 20, 5, tb);
	.generaSpazi(padding, 20, 5, tb);
}

// Desktop
@media (min-width: @screenDesktop) {
	.generaSpazi(margin, 20, 5, dt);
	.generaSpazi(padding, 20, 5, dt);
}

// DesktopHD
@media (min-width: @screenDesktopHD) {
	.generaSpazi(margin, 20, 5, hd);
	.generaSpazi(padding, 20, 5, hd);
}



/* Show & Hide */

.show {
  display: block !important;
}
.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden;
}



.show() {
  display: block !important;
  table&  { display: table !important; }
  tr&     { display: table-row !important; }
  th&,
  td&     { display: table-cell !important; }
}

.hide() {
  display: none !important;
}


.show-mb,
.show-tb,
.show-dt,
.show-hd {
  .hide();
}


.show-mb {
  @media (max-width: @screenTablet) {
    .show();
  }
}

.show-tb {
  @media (min-width: @screenTablet) and (max-width: @screenDesktop) {
    .show();
  }
}

.show-dt {
  @media (min-width: @screenDesktop) and (max-width: @screenDesktopHD) {
    .show();
  }
}

.show-hd {
  @media (min-width: @screenDesktopHD) {
    .show();
  }
}



.hide-mb {
  @media (max-width: @screenTablet) {
    .hide();
  }
}

.hide-tb {
  @media (min-width: @screenTablet) and (max-width: @screenDesktop) {
    .hide();
  }
}

.hide-dt {
  @media (min-width: @screenDesktop) and (max-width: @screenDesktopHD) {
    .hide();
  }
}

.hide-hd {
  @media (min-width: @screenDesktopHD) {
    .hide();
  }
}